* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(13, 78, 13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {
    text-align: center;
}

#display::-webkit-outer-spin-button,
#display::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#display {
    -moz-appearance: textfield;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    width: 500px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: solid red 1px;
}


button {
    font-size: 24px;
    padding: 10px;
    width: 125px;
}




.footer {
    text-align: center;
}