@font-face {
    font-family: 'typo-digit';
    src: url(./fonts/typo-digit-demo/Typo\ Digit\ Demo.otf);
}

@font-face {
    font-family: 'leostut';
    src: url(./fonts/leostut/Leostut.otf);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(96, 152, 189);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {
    text-align: center;
    font-family: 'leostut';
    font-size: clamp(50px, 8vw, 100px);
    color: rgb(110, 45, 21);
    margin-top: 16px;
}

#display::-webkit-outer-spin-button,
#display::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#display {
    cursor: default;
    text-align: right;
    font-family: 'typo-digit';
    font-size: 36px;
    height: 50px;
    width: 500px;
    background-color: rgb(226, 213, 208);
    font-weight: bold;
    padding: 10px;
}

#display:focus {
    outline: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    cursor: grab;
    font-size: 24px;
    padding: 10px;
    width: 120px;
}

.number {
    background-color: rgb(133, 204, 26, 0.7);
}

.operator {
    background-color: rgb(168, 77, 168, 0.7);
}

.clear {
    background-color: rgb(168, 155, 155, 0.7);
}

.equal {
    background-color: rgb(202, 143, 76, 0.7);
}


.footer {
    text-align: center;
    font-family: 'typo-digit';
    font-size: 28px;
    background-color: rgb(77, 63, 63);
    color: rgb(207, 207, 22);
    padding: 10px;
}