@font-face {
    font-family: 'Technology';
    src: url(./fonts/technology/Technology.ttf);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(96, 152, 189);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {
    text-align: center;
}

#display::-webkit-outer-spin-button,
#display::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#display {
    cursor: default;
    text-align: right;
    font-family: 'Technology';
    font-size: 28px;
    padding: 5px;
    width: 500px;
    background-color: rgb(214, 175, 160);
    font-weight: bold;
}

#display:focus {
    outline: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    cursor: grab;
    font-size: 24px;
    padding: 10px;
    width: 120px;
}

.number {
    background-color: rgb(133, 204, 26, 0.7);
}

.operator {
    background-color: rgb(168, 77, 168, 0.7);
}

.clear {
    background-color: rgb(168, 155, 155, 0.7);
}

.equal {
    background-color: rgb(202, 143, 76, 0.7);
}


.footer {
    text-align: center;
}